body{
 background-color:rgb(4, 58, 58);
 text-align:center;
}
input{
    width: 40%;
    background-color: rgb(9, 178, 194);
    
}
button{
    width: 20%;
    background-color: rgb(66, 35, 241);
}
h1,h5,h4,h3,h2,input{
text-align:center;
color: gold;
}
img{
    height: 20px;
    width: 20px;
    border-radius: 60%;
}